:root {
	--dark: rgb(28, 28, 28);
	--light: rgb(210, 209, 209);
	--light-hover: rgb(189, 185, 185);
	--green: #6abf69;
	--brown: #c99e6b;
	--yellow: #b7bf67;
	--pink: #c57a87;
}
.green {
	background-color: var(--green);
}
.brown {
	background-color: var(--brown);
}
.yellow {
	background-color: var(--yellow);
}
.pink {
	background-color: var(--pink);
}

body {
	background-color: var(--dark);
	color: var(--light);
	font-family: Arial;
}

header {
	text-align: center;
	margin-bottom: 5em;
}
h1 {
	font-size: 2.8rem;
}
h2 {
	font-size: 1.2rem;
	text-align: center;
}

main {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: 0em 2em;
}
.column {
	/* border: 1px solid hotpink; */
	display: flex;
	flex-direction: column;
	gap: 3em;
}

.pokemon {
	background-color: var(--light);
	color: var(--dark);
	padding: 0.5em;
	display: flex;
	flex-direction: row;
	gap: 1em;
	width: 13em;
	transition: background-color 0.3s;

	&:hover {
		background-color: var(--light-hover);
		cursor: pointer;
	}

	/* Nyare CSS-syntax */
	.box {
		width: 5em;
		height: 5em;
	}
	h3, p {
		padding: 0;
		margin: 0;
	}
	/* h3 {
		margin-top: auto;
	} */
	.align-bottom {
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		/* border: 5px dotted hotpink; */
	}
}

/* Detta funkar alltid
.pokemon .box {}
 */
