:root {
	--dark: rgb(28, 28, 28);
	--light: rgb(210, 209, 209);
}

body {
	background-color: var(--dark);
	color: var(--light);
	font-family: Arial;
}

header {
	text-align: center;
	margin-bottom: 5em;
}
h1 {
	font-size: 2.8rem;
}
h2 {
	font-size: 1.2rem;
	text-align: center;
}

main {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: 0em 2em;
}
.column {
	/* border: 1px solid hotpink; */
	display: flex;
	flex-direction: column;
	gap: 3em;
}

.pokemon {
	background-color: var(--light);
	color: var(--dark);
	padding: 0.5em;
	display: flex;
	flex-direction: row;
	gap: 1em;
	width: 13em;

	/* Nyare CSS-syntax */
	.box {
		width: 5em;
		height: 5em;
		background-color: rgb(143, 195, 143);
	}
	h3, p {
		padding: 0;
		margin: 0;
	}
	/* h3 {
		margin-top: auto;
	} */
	.align-bottom {
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		/* border: 5px dotted hotpink; */
	}
}

/* Detta funkar alltid
.pokemon .box {}
 */
